<footer role="contentinfo" class="border-top text-center py-3" style="background-color: #fcebc7">
  <p>2023 Copyright</p>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <ul style="list-style-type: none;">
          <li><a href="#"  style="text-decoration: none; color:black;">О нас</a></li>
          <li><a href="#"  style="text-decoration: none; color:black;">Разрабочтик</a></li>
        </ul>

      </div>
      <div class="col">
        <ul style="list-style-type: none;">
          <li style="text-decoration: none; color:black;"><b>Мы в социальных сетях</b></li>
          <li><a href="#" style="text-decoration: none; color: black;">Телеграмм</a></li>
          <li><a href="#" style="text-decoration: none; color:black;">Ютуб</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>