<header>
  <nav class="navbar" style="background-color:#fcebc7">
    <div class="container-fluid">
      <a class="brand_r navbar-brand" href="#">
        <span class="brand_r" style="color:#ff8800">Azimov</span>Shop
      </a>


      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Категории</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Избранное </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Профиль</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
